.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #282c34;
    height: 100%;
    width: 100%;
    z-index: 2;
    padding-bottom: 10px;
}

table {
    color: white;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    width: 70vw;
}

table th {
    width: 20%;
}

td {
    text-align: center;
    white-space: nowrap;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

table td:first-child,
table th:first-child,
table td:last-child,
table th:last-child {
    text-align: center;
}

.SearchBar>* {
    color: black;
    height: 30px;
}

.SearchBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.searchBtn {
    background-color: #202020;
    border: none;
    border-radius: 1px;
    margin-left: 10px;
    cursor: pointer;
    outline: none;
    color:white;
    height: 36px;
    margin: 0;
}

.arrow {
    width: 15px;
    height: 15px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    margin-left: 30px;
    margin-bottom: 10px;
    transform: rotate(135deg);
}

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination {
    list-style-type: none;
    padding: 0;
    white-space: nowrap;
}

.page-item {
    display: inline-block;
    margin: 0 2px;
}

.page-link {
    text-decoration: none;
    color: white;
    background: #202020;
    padding: 6px 12px;
    border-radius: 6px;
}

.page-link:hover {
    background: #2c2c2c;
}

.page-item.active>* {
    background: #2c2c2c;
}

header .fight-btn {
    width: 15%;
    height: 15px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #202020;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

header .fight-btn .btn {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    color: white;
    
}

header .fight-btn:hover {
    background: #2c2c2c;
    transition: 0.3s;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
    margin-top: 20px;
}

.loading-xl {
    width: 7rem;
}