@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    background: #282c34;
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Press Start 2P', cursive;
}

.content .my-pokemon {
    width: calc(100% / 3.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .enemy-pokemon {
    width: calc(100% / 3.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .fight {
    width: calc(100% / 4);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 50px;
    align-items: center;
    overflow: hidden;
    align-items: center;
}

.content .fight input {
    font-family: 'Press Start 2P', cursive;
    font-size: calc(0.3w);
    overflow: hidden;
    max-width: 90%;
}

.content .fight .fight-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.content .fight .btn-attack {
    background: crimson;
    padding: 20px 0px;
    font-family: 'Press Start 2P', cursive;
    font-size: calc(1vh + 1vw);
    width: 60%;
    display: flex;
    justify-content: center;
}

.content .fight .fight-log {
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background: white;
    overflow-y: scroll;
    margin-bottom: 30px;
    resize: none;
    font-size: 9px;
}



.content .Bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 250px;
    background: #e0e0e0;
    border-radius: 10px;
    margin-bottom: 10px;
    gap: 10px;
    box-shadow: 10px 10px 2px 0 rgba(0, 0, 0, 0.8);
}

.content .Bar .name {
    display: flex;
    width: 100%;
    height: 35%;
    background: #cad2c5;
    overflow: hidden;
}

.content .Bar .hp {
    width: 100%;
    height: 35%;
    background: #ff0000;
    background: transparent;
    padding: 0 15px;
    overflow: hidden;
}

.content .Bar .hp p {
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    position: relative;
    top: 20px;
    overflow: hidden;
}

.content .Bar .hp div {
    overflow: hidden;
}

.content .Bar .hp-line {
    display: flex;
    height: 10px;
    background: #00ff00;
    transition: 0.5s;
    border-radius: 10px;
    border: 2px solid white;
    width: 80%;
    overflow: hidden;
}